<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
   
  <add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;persist security info=True;user id=Decision;password=Chetu@123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>