<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <connectionStrings>
    <add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.242.226.28;initial catalog=DecesionPointQA-EE;persist security info=True;user id=jim;password=recs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;persist security info=True;user id=Decision;password=Chetu@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="SiteName" value="http://web.chetu.com/DecisionPoint-EE/"/>
  </appSettings>
</configuration>