@{
    ViewBag.Title = "MockUpPage";
    Layout = "~/Views/Shared/_CoverageAreaPartial.cshtml";
}


<div class="row-fluid">
                            <div class="box background-check">
                               
                                    <div class="row-fluid">
                                        <div class="span8">
                                            <h3>Background Check</h3>
                                        </div>
                                       
                                    </div>

                                    <table id="tbl_BackgroundCheck" class="table table-hover">
                                        <thead>
                                            <th>ReqiureBy</th>
                                            <th>Title</th>
                                            <th>Content</th>
                                            <th>Source</th>
                                            <th>Received</th>
                                            <th>Renewal</th>
                                            <th>Link</th>
                                            <th>Status</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                             <tr>
                                                    <td>B of A</td>
                                                    <td><b>Basic</b></td>
                                                    <td style="width: 30%;"></td>
                                                    <td></td>
                                                    <td></td>
                                                <td></td>
                                                     <td><a href="#"></a></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                             <tr>
                                                    <td>Summit Valuation</td>
                                                    <td><b>Standard</b></td>
                                                    <td>7 Year County Search</td>
                                                    <td>Sterling</td>
                                                    <td >1/1/2015</td>
                                                <td ></td>
                                                     <td ><a href="#">Go to sterling</a></td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a>&nbsp;&nbsp;<a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                            <tr>
                                                     <td></td>
                                                    <td></td>
                                                    <td>SS Address Search</td>
                                                    <td></td>
                                                    <td ></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                               <tr>
                                                     <td></td>
                                                    <td></td>
                                                    <td>Sex Offender</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                               <tr>
                                                     <td></td>
                                                    <td></td>
                                                    <td>National Criminal</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                    <td>Internal</td>
                                                    <td><b>Premium</b></td>
                                                    <td style="width: 30%;">7 Year County Search</td>
                                                    <td>Sterling</td>
                                                    <td>02/02/2015</td>
                                                <td></td>
                                                     <td><a href="#">Go to sterling</a></td>
                                                    <td><img src="@Url.Content("~/Content/images/delete.png")" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a>&nbsp;<a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                            <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>7 Year Federal Court</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td ></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                   <td></td>
                                                    <td></td>
                                                    <td>SS Address Search</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Sex Offender</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>OFAC</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>Professional License</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            <tr>
                                                     <td></td>
                                                    <td></td>
                                                    <td>Arrest Direct</td>
                                                    <td></td>
                                                    <td></td>
                                                     <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                            
                                              
                                            <tr>
                                                    <td>Flag Star</td>
                                                    <td><b>Optional</b></td>
                                                    <td>Driving License</td>
                                                    <td>Sterling</td>
                                                    <td>02/15/2015</td>
                                                <td>03/10/2015</td>
                                                     <td style="width: 25%;"><a href="#">Go to sterling</a></td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a>&nbsp;<a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                        </tbody>
                                    </table>
                               
                                   @*<div class="row-fluid">
                                        <div class="span8">
                                            <h3>Professional License</h3>
                                        </div>
                                       
                                    </div>

                                    <table id="tbl_BackgroundCheck" class="table table-hover">
                                        <thead>
                                            <th>ReqiureBy</th>
                                            <th>Type</th>
                                            <th>License Number</th>
                                            <th>State</th>
                                            <th>Exp Date</th>
                                            <th>Source</th>
                                            <th>Doc & Data</th>
                                            <th>Confirmation</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                    <td>Internal</td>
                                                    <td>Real Estate</td>
                                                    <td>3487298SFV234</td>
                                                    <td>IL</td>
                                                    <td style="width: 25%;">1/10/2015</td>
                                                     <td style="width: 25%;"><a href="#">Sterling</a></td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a><a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                        </tbody>
                                    </table>

                                <div class="row-fluid">
                                        <div class="span8">
                                            <h3>Insurance</h3>
                                        </div>
                                       
                                    </div>

                                    <table id="tbl_BackgroundCheck" class="table table-hover">
                                        <thead>
                                            <th>ReqiureBy</th>
                                            <th>Type</th>
                                            <th>Company Name</th>
                                            <th>Policy Number</th>
                                            <th>Single Occ</th>
                                            <th>Aggregate</th>
                                            <th>Exp Date</th>
                                            <th>Doc & Data</th>
                                            <th>Confirmation</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                    <td>Internal</td>
                                                    <td>E&O</td>
                                                    <td>Capital Insurance</td>
                                                    <td>AG342-4342-53</td>
                                                    <td style="width: 25%;">1,000,000</td>
                                                     <td style="width: 25%;">10,000,000</td>
                                                <td>8/25/2015</td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a><a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                        </tbody>
                                    </table>

                                <div class="row-fluid">
                                        <div class="span8">
                                            <h3>Background Check</h3>
                                        </div>
                                       
                                    </div>

                                    <table id="tbl_BackgroundCheck" class="table table-hover">
                                        <thead>
                                            <th>ReqiureBy</th>
                                            <th>Title</th>
                                            <th>Content</th>
                                            <th>Source</th>
                                            <th>Received</th>
                                            <th>Link</th>
                                            <th>Status</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                    <td>Internal</td>
                                                    <td>Premium</td>
                                                    <td>7 Year County Search</td>
                                                    <td>Sterling</td>
                                                    <td style="width: 25%;">02/02/2015</td>
                                                     <td style="width: 25%;"><a href="#">Go to sterling</a></td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a><a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                        </tbody>
                                    </table>

                                <div class="row-fluid">
                                        <div class="span8">
                                            <h3>Background Check</h3>
                                        </div>
                                       
                                    </div>

                                    <table id="tbl_BackgroundCheck" class="table table-hover">
                                        <thead>
                                            <th>ReqiureBy</th>
                                            <th>Title</th>
                                            <th>Content</th>
                                            <th>Source</th>
                                            <th>Received</th>
                                            <th>Link</th>
                                            <th>Status</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            
                                            <tr>
                                                    <td>Internal</td>
                                                    <td>Premium</td>
                                                    <td>7 Year County Search</td>
                                                    <td>Sterling</td>
                                                    <td style="width: 25%;">02/02/2015</td>
                                                     <td style="width: 25%;"><a href="#">Go to sterling</a></td>
                                                    <td><img src="~/Content/images/check-in.png" height="25" width="25" alt="Status" /></td>
                                                    <td><a href="#" style="font-style:italic;">edit</a><a href="#" style="font-style:italic;">view</a></td>
                                                </tr>
                                        </tbody>
                                    </table>*@
                                     
                            </div>
                        </div>