<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="LogFileAppender"/>
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="DecisionPointLog\HandlerLog.txt"/>
      <param name="AppendToFile" value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="FATAL"/>
      </filter>
    </appender>
  </log4net>
  <connectionStrings>
   <add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;persist security info=True;user id=Decision;password=Chetu@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.242.226.28;initial catalog=DecisionPoint-EE;persist security info=True;user id=jim;password=recs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
   </connectionStrings>
  
  <appSettings>
    <add key="SterlingResponseDocPath" value="D:/Projects/DecisionPoint-EE/DecisionPoint/Content/documents/Sterling/Response/"/>
    <add key="dumyres" value="D:/Response/"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
    <httpHandlers>
      <add path="DecisionPoint-EE" verb="*" type="DecisionPointHandler.DecisionPointHandler,DecisionPointHandler"/>
    </httpHandlers>
   
  </system.web>
  <system.webServer>
    <handlers>
      <add name="DecisionPointEE-Integrated" path="DecisionPoint-EE" verb="*" type="DecisionPointHandler.DecisionPointHandler,DecisionPointHandler" preCondition="integratedMode"/>
    </handlers>
    <modules>
      <add name="DecsisonPointHandlerModule" type="DecisionPointHandler.DecsisonPointHandlerModule, DecisionPointHandler"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>