@charset "utf-8";
/* CSS Document */
.w100{
	width:100%;
	float:left;
	
	}
.w80{
	width:80%;
	float:left;
	
	}
.w90{
	width:90%;
	float:left;
	
	}
 .errorClass
    {
        border: 1px solid red !important;
        
    }

.w360
{
    width: 280px;
}
.w200 {width:80px;float:left;margin-right:20px;margin-top:5px;}
.w50 {width:100px;}
.butmargin{margin:2px 0 5px 10px;}
.butmargin-left1{margin:-2px 0px 1px 0px;}
.grid-width100
{
    width:25px;
}
.grid-width150
{
    width:195px;
}
.grid-width285
{
    width:25%;
}
.grid-width19per
{
    width:19%;
}
.grid-width12per
{
    width:12%;
}
.grid-width181
{
    width:181px;
}


.iconcontainer{width:70%;overflow:hidden;margin:1% auto;}
.individual{
                width:202px;
                height:202px;
                float:left;
                text-align:center;
                cursor:pointer;
                position:relative;
                 box-shadow: 2px 2px 2px 2px #E1E1E1;
     
                  border:1px solid #e1e1e1;
                }
                
.bulk{
                width:202px;
                height:202px;
                float:right;
                text-align:center;
                box-shadow: 2px 2px 2px 2px #E1E1E1;
               border:1px solid #e1e1e1;
                }

#download{
	background:url(../../images/download.png) no-repeat;
	width:28px;
	height:32px;
	float:right;
	width:175px;
	padding-left:32px;
	line-height:30px;
	text-decoration:underline;
	}
.autodetect{margin-left:10px;margin-top:10px;display:inline;background:red;}
.forlabel{float:left;}
.fl{float:left;}



.manualinput{width:50px;margin-left:10px;}
.considerfirstrow{margin-left:166px; float:left;display:block;float:left;}
.mt20{margin-top:15px;}
 .mr10 {margin-right:10px;float:left;}
 .w250 {width:100px;float:left;margin-top:5px;}
 .wcol1{width:14%; float:left;}
 .wcol2{width:220px; float:left;}
 .wcol3{width:30%; float:left;}
 .mt5px{margin-top:5px;}
 .wcol4{width:14%; float:left;}
 .wcol5{width:220px; float:left;}
 .wcol6{width:30%; float:left;}
 .w206{width:206px;}
 .selectheading{
	 background:#eee;
	 text-align:center;
	 border:1px solid #ccc; 
	 border-radius: 3px 3px 3px 3px;
	 padding:5px 0px;}
.clear{clear:both;}
.multiselectable {display:block; overflow: hidden; width:60%;padding-right:20px;margin-bottom:10px; }
.multiselectable select, .multiselectable div { width: 216px; float:left; }
.multiselectable div * { display: block; margin: 0 auto; }
.multiselectable div { display: inline; overflow:hidden; }
.multiselectable .m-selectable-controls { margin-top: 4em; width: 70px; }
.multiselectable .m-selectable-controls button { margin-top: 2em; margin-left:.5em;}

.bulk-invitaion
{
    background:  url("../../images/bulk.jpg") repeat-x scroll left;
     display: block;
   height: 200px;
     text-indent: -9999px; /* hides the link text */
}
.manual-invitaion
{
    background:  url("../../images/manual.jpg") repeat-x scroll left;
     display: block;
   height: 200px;
     text-indent: -9999px; /* hides the link text */
}
.halfwidth
{
    width:30%;
    float:left;
    font-weight:bold;
    margin-bottom:10px;
}
.halfrest
{width:70%;
    float:left;
    margin-bottom:-11px;
}
.mt10
{
    margin-top:10px;
}

.btnminired
{
    background:#dd3626;
    color:white;
}

.btnminired:hover
{
    background:#bd2e21;
    color:white;
}




.bold{font-weight:bold;}
.iconcontainer{width:70%;overflow:hidden;margin:1% auto;}

	
	
.leftcol1{width:50%; float:left;}
.rightcol1{width:50%; float:left;}
.w50{width:50%;margin-top:10px;}
.fl{float:left;}
.w20{width:20%;float:left;margin-bottom:10px;}
.pdr5{padding-right:5px; float:left}
.upleftcol{float:left; width:50%;}
.uprightcol{float:left; width:50%;}
.upleftcol2{float:left; width:40%;}
.uprightcol2{float:left; width:60%;}
.fr{float:right;}
.w300{width:120px;float:right;}
.ln30{line-height:25px;}

.halfwidth1
{
    width:20%;
    float:left;
    font-weight:bold;
    margin-bottom:10px;
}

.Stdwidth
{
    width:11%;
    float:left;
    font-weight:bold;
    margin-bottom:3px;
}
.Inforest
{width:89%;
    float:left;
    margin-bottom:-11px;
}



 .grid-width120
    {
        width: 120px;
    }
 .grid-width90
    {
        width: 90px;
    }
.td-align-textbox{ vertical-align:top; padding-top:4px;}

.MarginTop4
{
    margin-top:-4px !important;
}
.MarginTopminus5
{
    margin-top:-5px !important;
}
.MarginTop8
{
    margin-top:-8px;
}
.MarginTop5
{
    margin-top:5px;
}
.Marginleftminus8
{
    margin-left:-8px !important;
}
.MarginBottom3
{
    margin-bottom:3px;
}
.Marginleft5
{
    margin-left:5px;
}
.MarginLeft2
{
    margin-left:2px !important;
}
.MarginLeft9
{
    margin-left:9px !important;
}
.MarginLeft22
{
    margin-left:22px !important;
}
.MarginLeft14
{
    margin-left:14px !important;
}
.MarginLeftminus2
{
    margin-left:-2px !important;
}
input[type="text"]
{
    height:19px;
}
.width279px
{
    width:290px;
}
.width200px
{
    width:122px;
}
.width255px
{
    width:255px;
}
.width150px
{
    width:150px;
}
.width210px
{
    width:268px;
}
.fontsize12px
{
    font-size:12px;
}
a
{
cursor:pointer;
}
.errorClass
{
        border: 1px solid red !important;
        border-style: inset;
}

/*25june*/
.w80-00{    width:12%;     float:left;}
.w80-new{  width:88%; float:left;margin-top: 8px;     }
.w80-new2{    width:12%;   float:left;}

    .w80-new .mce-edit-area    {  height:50px !important;    }
    .w50-new{width:50%;margin-top:0;}

    .w80-new #tinymce p{    margin: 0 !important;}
.w80-new iframe
{
    height:50px !important;
}
.mce-content-body  p
    {
        margin:0 !important;
    }

table#tblservice tr td {
padding-left: 17px;
}
table#tblclient tr td {
padding-left: 17px;
}

.input-xlarge-txt {
    width:380px;
}
.w23 {
    width:23%;
    float:left;
    margin-right:38px;
}
.input-xsmall-txt {
    width:155px;
}
.input-small-txt {
    width:149px;
}

.grdcol2
{
    width:420px;
}
.grdcol1
{
    width:420px;
}
.grdcol3
{
    width:270px;
}
.grdcol4
{
    width:200px;
}


/*Config Page CSS*/
.MarginL {
    margin-left:4px;
}
.MarginT {
    margin-top:-2px !important;
}
.PaddingB {
    padding-bottom:7px;
}
.PaddingL {
    padding-left:130px;
}
.FRight {
    float:left;
}
.paddingBL {
    padding:20px 0px;
}
 .errorClass
    {
        border: 1px solid red !important;
        border-style: inset;
    }

 /*24.07.14*/
.emal-txt-break {
    display: block;
    white-space: pre-wrap;
    width: 164px;
    word-wrap: break-word;
}

  .prevent a
    {
        cursor: not-allowed;
}
.box-width-height {
    width:515px;
    height:230px;
}

/*My DashBoard alerts*/
.alert-box
{
    border-radius:5px;background-color:#FCF8E3;padding:5px;margin-bottom:10px;
}
.jcr-popup-box {
     background-color: #FCF8E3;
    border: 1px solid #A8A8A8;
    border-radius:10px;
    height: 160px;
    overflow: auto;
    padding: 8px;
    width: 248px;
}
.ziplist-popup-box {
     background-color: #fff;
    border: 1px solid #A8A8A8;
    border-radius:10px;
    height: 160px;
    overflow: auto;
    padding: 8px;
    width: 190px;
    position:fixed;
}

.popup-inner-box {
    background-clip: padding-box; background-color: #FFFFFF; padding: 10px; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px 6px 6px 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); outline: 0 none;
}

.guide-box-div {
background-clip: padding-box; background-color: #FFFFFF; min-height: 340px; min-width: 520px; left: 45%; padding: 10px; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px 6px 6px 6px; box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); outline: 0 none;display: none; position: absolute; margin: 0px 0 0 0px !important; float: right;
}

.width100 {
    width:100%;
}
.chk-align {
    margin-top:-1px !important;
}
.width34per {
    width:34%;
}
.width21per {
    width: 24%;
}
.width20per {
    width: 20%;
}
.width10per {
    width: 10px;
}
.width116px {
    width:116px;
}

/*-----Mohit-------*/

.left-control-group {
    float:left;
    width:20%;
}

.center-control-group {
    float: left;
    width: 35%;
}

.ofac_box {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 30%;
}
.uoload_btn_box {
    float: left;
    margin-bottom: -11px;
    width: 70%;
}
.uoload_btn_box input.btn {
    float:right;
}

.Status_box {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 40%;
}
.select_box {
    float: left;
    margin-bottom: -11px;
    width: 60%;
}
    .select_box select.input-xlarge {
        width: 100px;
}
.right-section-box {
    float:right;
    width:78%;
    margin-left:2%;
}
.right-control-group {
    float: left;
    margin-left: 2%;
    width: 37%;
}
.right-control-group .halfwidth1 {
    float: left;
font-weight: bold;
margin-bottom: 10px;
width: 40%;
}
.right-control-group .halfrest {
    float: left;
    margin-bottom: -11px;
    width: 60%;
}
.right-company-control-group {
    float: right;
    margin-left: 2%;
    width: 23%;
}
.right-company-control-group .text-box {
    float: left;
    margin-bottom: -11px;
    width: 60%;
}
.right-company-control-group .text-box input.input-xlarge-txt {
    width: 100px;
}
.text-area-box {
    float: left;
    width: auto;
}
.text-area-box .halfwidth1 {
    float: left;
    font-weight: bold;
    margin-bottom: 10px;
    width: 15%;
}

.text-area-box .halfrest {
    float: left;
    margin-bottom: -11px;
    width: 85%;
}
.text-area-box .halfrest textarea.input-xlarge-txt {
    width: 425px;
}
.width50px
{width:50px;}

.collapse-state-a {
    /*color: #0000FF;
    content: "+";*/
    font-size: 18px;
    left: 5px;
    position: absolute;
    top: 0;
    padding:0 12px;
}


.collapse-state {
   padding: 0 35px;
    position: relative;
}
.coverage-box {
    padding: 5px 0;
}

.state-div {
   line-height: 35px; 
}
.county-div {
line-height: 20px; 
margin-top:10px;
}
.city-div {
line-height: 20px; 
/*border: 1px solid rgb(225, 225, 225);
 border-radius: 5px; 
 background-color: rgb(225, 225, 225);*/
 margin: 10px;
    padding: 0px 18px;width: 93%;
}


.zipcode-header {
    padding: 2px 5px; font-weight: bold;
}

.btnminigreen
{
    background:#006DCC;
    color:white;
}

.btnminigreen:hover
{
    background:#006DBB;
    color:white;
}

.marginleft21px {
    margin-left:35px;
}
.marginleft-top-24px-10 {
    margin-left:41px;
    margin-top:10px;
}

.editlnk {
    margin-left:8px;
}
.zipcode-table {
    width:90%;
    margin-left:6%;
}

.zipcode-td-width
{
    width:40%;
}

/*Menu and Word split issue Modification CSS Start
#cascadingtab .r-default-inner {
margin: 0 7px;
padding: 0 7px;
}
#cascadingtab li {position:relative;
}
#cascadingtab .r-default-drop .r-default-inner:last-child {margin-right:0; padding-right:0; border-right:none;
}
#cascadingtab .commli .r-default-drop { width: 385px !important; right:0;}
#cascadingtab .contractli .r-default-drop { width: 272px !important; right:0;}
#cascadingtab .administrationli .r-default-drop { width: 595px; right:0;}*/
.dynamic-word-div {
    max-width: 287px; word-wrap: break-word; margin-left: 2px; line-height: 20px;
}
.grid-width3009 {
    width:423px !important;
}

#tblJCRAudit thead,#tblJCRAudit tbody,#back-tbl thead,#back-tbl tbody { display: block; }

 #tblJCRAudit tbody,#back-tbl tbody {
    height: 90px;      
    overflow-y: auto;    
    overflow-x: hidden;  
}
 .profession-type-ul
 {
     list-style: none outside none; 
     padding: 0px 10px;
 }
  .overdue
    {
        color: red;
    }

  .funpermission-div {
line-height: 20px; 
margin-top:5px;
margin-bottom:10px;
}
  .title-div {
   line-height: 30px; 
   font-weight:bold;
}

.Title-Outer-Box {
border-radius: 5px; 
border: 1px solid rgb(225, 225, 225); 
padding: 5px; 
position: static; 
background: none repeat scroll 0% 0% rgb(255, 255, 255); 
left: 15%; 
margin-top: 0px;
width:205px
}
 .setwidth
    {
        background:#F2F2F2;
    }

.addinvite-txt {
    width:168px;
}
.addinvitetbl .table th, .table td {
    padding: 8px 5px;
}
.width95px{
    width:110px;
}
  /*===23-12-2014===*/
.disabpled-input {
    background: #fff;
    border: 0;
    cursor: default;
}
.non-clientdiv{
    min-height: 335px !important; overflow: auto;
}
.input-txt-width{
width:204px !important;
}
.ass-dropdown-width{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 188px;
}
.alert-box .alert-box {margin:0 !important;}
.margin-zero{ margin:0 !important;}
.scrolling-panel{max-height: 300px;overflow: auto;}

.left-alert{float: left; width: 30%;}
.claender-wraper{float: right; margin-top: 12px; width: 66%;}
.delete-btn{
cursor: pointer;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    }
td.text-right{ text-align:right;}
.text-right{ text-align:right;}
/*Welcome CSS*/

.top-background{  background:url("../../../Content/images/top-bg.jpg") no-repeat scroll  0 -130px / cover; width:100%; height: 115px;}
.welcome-text{ background:url("../../../Content/images/welcome-img.jpg") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0); height: 135px;}
.contact-wraper{ margin: 10px 0; font-family:Arial, Helvetica, sans-serif;}
.contact-wraper .col-50{ width:46%; padding:0 2%; float:left;}
.contact-wraper h1{ color:#005e9e; font-size:16px; font-weight:bold; line-height:60px; margin:0;}
.contact-wraper p{ color:#6d6d6d; font-size:13px; padding: 10px 0 0;}
.welcome-wraper{ }
span.green-color{ color:#82be1a;}
span.blue-color{color:#003f8a;}
.welcome-h1{ color:#82be1a; font-size:28px; line-height:30px; text-align:center; padding-top: 10px; font-family:Arial, Helvetica, sans-serif;}
.p-tag{ color:#FFF; font-size:17px; text-align:center; padding:0px 50px; font-family:Arial, Helvetica, sans-serif;}
.welcome-footer{ height: 60px; background:url("../../../Content/images/bottom-bg.png") no-repeat scroll 0 0 / 100% auto; position:relative;}
a.next-btn{ width:119px; height:105px; position:absolute; display:block; top:-50px; right:30px;
background:url(../../../Content/images/next-btn.png) no-repeat;}
.logo-bottom{ margin:1px 0; text-align:center; }
.logo-bottom img{ margin-bottom: 12px;}
.wraperline{ font-size: 15px !important;font-weight: bold; padding: 20px 33% !important}
.wraperline span{ display:inline-block; width:50%;}
p.find-out{ text-align:center; font-size:15px; padding:0 0 30px 0;}
p.find-out a{ color:#77b800; font-weight:bold; text-decoration:none;}
p.find-out a:hover{ text-decoration:underline;}


.border-line-gradient
{
height:2px; width:100%;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFlNTc5OSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwNWU5ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left, rgba(30,87,153,0) 0%, rgba(0,94,158,1) 50%, rgba(125,185,232,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,0)), color-stop(50%,rgba(0,94,158,1)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(0,94,158,1) 50%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(0,94,158,1) 50%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(30,87,153,0) 0%,rgba(0,94,158,1) 50%,rgba(125,185,232,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(30,87,153,0) 0%,rgba(0,94,158,1) 50%,rgba(125,185,232,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#007db9e8',GradientType=1 ); /* IE6-8 */
}

#ulLink > li > a {
  padding-top: 8px;
  padding-bottom: 22px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.package-p-heading {
    padding: 8px;
    margin: 5px 0;
    background-color: #0166a6;
    color: #fff;
    font-size: 16px;
    line-height: normal;
}
.totalamount-block {
    border-top: 3px solid #484848;
    position: relative;
    top: -21px;

    padding:  21px 0px 20px;
}
#totalAmt {
    margin-left: 40px;
}
.icClientTbls thead th
{
    white-space:nowrap;
}
.icClientTbls thead td
{
    white-space:nowrap;
}

.delte-price {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 18%;
    top: -5px;
    z-index: 1;

}
#historygrid {
    white-space: nowrap;
}


/* License Agreement */
.agreement-div {
    width: 98%;
    height:280px;
    overflow:auto;
    margin-bottom:15px;
    padding-right:2%;
    float: left;
}
.agreement-div ul, li {
    list-style: none;
}
.agreement-div li {
    padding-bottom: 10px;
}
.agreement-div li li{
    padding:10px 0 0 20px;
    }



/* License Agreement */
.agreement-div {
    width: 98%;
    height:280px;
    overflow:auto;
    margin-bottom:15px;
    padding-right:2%;
    float: left;
}
.agreement-div ul, li {
    list-style: none;
}
.agreement-div li {
    padding-bottom: 10px;
}
.agreement-div li li{
    padding:10px 0 0 20px;
    }

.nameMessage {
font-size:12px;
/*font-style:italic;*/
}


 


