<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="DecisionPointLog\Log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-DecisionPoint-20131015202555;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DecisionPoint-20131015202555.mdf" providerName="System.Data.SqlClient" />
    <add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;persist security info=True;user id=Decision;password=Chetu@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPointModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=162.242.226.28;initial catalog=DecesionPointQA-EE;persist security info=True;user id=jim;password=recs@1234;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
    <!--<add name="DecisionPointEntities" connectionString="metadata=res://*/Repository.DecisionPo1intModel.csdl|res://*/Repository.DecisionPointModel.ssdl|res://*/Repository.DecisionPointModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;persist security info=True;user id=Decision;password=Chetu@123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="rowperpage" value="10" />
    <add key="pagrrecord" value="2" />
    <add key="profilepic" value="/Content/documents/profilepic/" />
    <add key="companylogo" value="/Content/documents/CompanyLogo/" />
    <add key="StripeKey" value="sk_test_Ngb8Qkvzj6X5U9YD9Cd1eQbP" />
    <add key="LoginUrl" value="http://192.168.13.138:8010/" />
    <add key="uploadedcontentpath" value="~/Content/documents/communications/" />
    <add key="globaluploadedempreqdocpath" value="~/Content/documents/EmpReqDocByCmp/Global/" />
    <add key="specificuploadedempreqdocpath" value="~/Content/documents/EmpReqDocByCmp/Specific/" />
    <add key="HostedEngineWebServicesUrl" value="http://cloud.scorm.com/EngineWebServices" />
    <add key="HostedEngineAppId" value="ZS7EGMUR9U" />
    <add key="HostedEngineSecurityKey" value="krTDOHxsmLWSSG5eqMIb5i2TO75kqCb20ML7viRE" />
    <add key="Origin" value="rusticisoftware.netLibrary.1.2.1" />
    <add key="SmtpUseSSL" value="false" />
    <add key="SiteName" value="http://localhost:32750" />
    <add key="uploadcsvinvitefile" value="~/Content/documents/upload/" />
    <add key="downloadcsvfile" value="~/Content/documents/Sample/" />
    <add key="Regcompanylogo" value="~/Content/documents/CompanyLogo/" />
    <add key="uploadprofilepic" value="~/Content/documents/profilepic/" />
    <add key="ProfLicuploadeddocpathelec" value="~/Content/documents/ProfessionalLicense/" />
    <add key="Insuranceuploadeddocpathnonlec" value="~/Content/documents/InsuranceDoc/" />
    <add key="BackgroundCheckuploadeddocpath" value="~/Content/documents/BackgroundCheckDoc/" />
    <add key="MonthlyDateKey" value="1" />
    <add key="DefaultCompanyProflePicName" value="no-img-icon.jpg" />
    <add key="DefaultMyProflePicName" value="no-profilepic.jpg" />
    <add key="ContractUploadedDocPath" value="~/Content/documents/ContractDoc/" />
    <add key="AdditionalReqUploadedDocPath" value="~/Content/documents/AdditionalReqDoc/" />
    <add key="SterlingUserName" value="DPINT" />
    <add key="SterlingPassword" value="password456@" />
    <add key="SterlingGroup" value="DP" />
    <add key="SterlingOrderInitiateUrl" value="https://qa.sterlingdirect.com/clip/services/ConsumerService/2e5742fe-ea5a-4a5a-9c38-a53501cde84a" />
    <add key="SterlingMoreDetailsURL" value="https://qa.sterlingdirect.com/clip/services/ConsumerService/e367a981-2565-45ef-a59b-6d2df95ede28" />
    <add key="SterlingRequestDocPath" value="~/Content/documents/Sterling/Request/" />
    <add key="SterlingBgAttributeUserId" value="DecisionPointtp" />
    <add key="SterlingBgAttributePassword" value="DecisionPointtp456" />
    <add key="SterlingBgAttributeGroup" value="DecisionPoint" />
    <add key="PaymentGetwayActionUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="ICInviteMailAlert" value="~/Content/documents/MailFormat/ICMailAlert.html" />
    <add key="StaffInviteMailAlert" value="~/Content/documents/MailFormat/StaffMailAlert.html" />
    <add key="InviteMailBody" value="~/Content/documents/MailFormat/InvititationMail.html" />
    <add key="ICReviewResult" value="https://workforce.sterlingdirect.com/Account/Login" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Login/Login" timeout="2880" />
    </authentication>
    <!--<sessionState mode="InProc" timeout="60" />-->
    <sessionState mode="SQLServer" allowCustomSqlDatabase="true" sqlConnectionString="Data Source=DATA-PROD\SQL2008R2;initial catalog=DecisionPoint-EE;User ID=Decision;Password=Chetu@123;" timeout="60" cookieless="false" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="GridMvc" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webm" />
      <remove fileExtension=".mp4" />
      <remove fileExtension=".mpeg" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".webm" mimeType="Video/webm" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".mpeg" mimeType="Video/mpeg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
        <rewrite>
            <rules>
                <rule name="http to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" ignoreCase="false" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <add value="Login.cshtml" />
            </files>
        </defaultDocument>
    
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ASCQuerySvcSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ASCQuerySvcSoap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.asc.gov/wsvc/ASCQuerySvc.asmx" binding="basicHttpBinding" bindingConfiguration="ASCQuerySvcSoap" contract="LicenseVerificationService.ASCQuerySvcSoap" name="ASCQuerySvcSoap" />
    </client>
  </system.serviceModel>
</configuration>